@page "/"

<PageTitle>Home</PageTitle>

@* <MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
    <MudGrid>
        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;">
                <h2>Lorem Ipsum</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non leo enim. Fusce ullamcorper mauris commodo lacus lobortis tincidunt. 
                    Sed eget vehicula orci. Fusce at pharetra urna, id accumsan neque. Phasellus laoreet justo eu massa ornare varius.
                    Vivamus suscipit sem non ultrices porta. Praesent eu pellentesque turpis
                </p>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;">
                <h2>Dolor Sit Amet</h2>
                <MudListItem Icon="@Icons.Material.Filled.MonetizationOn">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non leo enim. Fusce ullamcorper mauris commodo lacus lobortis tincidunt.
                    Sed eget vehicula orci. Fusce at pharetra urna, id accumsan neque. Phasellus laoreet justo eu massa ornare varius.
                    Vivamus suscipit sem non ultrices porta. Praesent eu pellentesque turpis
                </MudListItem>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="12" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;"></MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6">
            <MudGrid>
                <MudItem xs="12">
                    <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;"></MudPaper>
                </MudItem>
                <MudItem xs="12">
                    <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;"></MudPaper>
                </MudItem>
            </MudGrid>
        </MudItem>
        <MudItem xs="12" sm="6">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 100%"></MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;"></MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;"></MudPaper>
        </MudItem>
        <MudItem xs="12" sm="12" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;"></MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer> *@



